<form (ngSubmit)="onCalculate()" >
    <div class="input-group">
        <p>
            <label for="initial-investment">Initial Investment</label>
            <input 
            type="number" 
            name="initial-investment" 
            id="initial-investment" 
            [(ngModel)]="initialInvestment" />
        </p>
        <p>
            <label for="annual-investment">Annual Investment</label>
            <input 
            type="number" 
            name="annual-investment" 
            id="annual-investment" 
            [(ngModel)]="annualInvestment" />
        </p>
    </div>
    <div class="input-group">
        <p>
            <label for="expected-return">Expected Return</label>
            <input 
            type="number" 
            name="expected-return" 
            id="expected-return" 
            [(ngModel)]="expectedReturn" />
        </p>
        <p>
            <label for="duration">Duration</label>
            <input 
            type="number" 
            name="duration" 
            id="duration" 
            [(ngModel)]="duration" />
        </p>
    </div>
    <p>
        <button>Calculate</button>
    </p>
</form>
